<template name="itemRow">
  <div class="row item-row" data-id="item-row" data-row="remove">
    <div class="seven columns">
      <input id="description" type="text" class="u-full-width" data-id="description" />
    </div>
    <div class="two columns">
      <input id="amount" type="text" class="u-full-width" data-id="amount" />
    </div>
    <div class="two columns">
      <input id="price" type="text" class="u-full-width" data-id="price" />
    </div>
    <div class="one column">
      <button type="button" class="u-full-width button button-danger" data-action="remove-item-row">
        <i class="fa fa-minus fa-lg"></i>
      </button>
    </div>
  </div>
</template>
